.comate_wrapper {
    display: flex;
    max-width: 1280px;
    margin: 30px auto;
    gap: 50px;
}
.comate_card_wrapper {
    margin-left: 80px;
    text-align: center;
}

.comate_content_wrapper {
    width: 100%;
    margin-right: 80px;
}
.content_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content_title_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.content_title {
    font-size: 25px;
    font-weight: bold;
}

.content_count {
    color: #777;
    font-size: 20px;
    font-weight: bold;
}
.sort_selector {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}