.order-history-container {
  background-color: #f3f3f5;
  color: #222;
  min-height: 100vh;
  padding: 30px 80px;
  font-family: "Pretendard", sans-serif;
  max-width: 1000px;
  margin: 0 auto; 
}

/* 뒤로가기 */
.back-btn {
  border: none;
  background: none;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 18px;
}

.page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* 주문 카드 */
.order-card {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 22px 28px;
  margin-bottom: 32px;
}

/* 상단 영역 */
.order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #444;
}

.order-date {
  font-weight: 600;
  margin-right: 10px;
}

.order-no {
  color: #777;
}

.order-status {
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
}

.order-status {
  background-color: #edf3ff;
  color:black;
}



/* 구분선 */
.divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 16px 0;
}

/* 상품 리스트 */
.order-items {
  margin-bottom: 8px;
}

/* 각 상품 */
.order-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.item-img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

/* 상품 정보 */
.item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-name {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-bottom: 3px;
  line-height: 1.3;
}

.item-detail {
  font-size: 13px;
  color: #888;
}

.extra-items {
  font-size: 13px;
  color: #777;
  margin-left: 96px;
}

/* 하단 */
.order-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #333;
  margin-top: 10px;
}

.expected {
  color: #555;
}

.order-total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order-total strong {
  color: black;
  font-weight: 700;
}

.detail-btn {
  background: none;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.2s;
}

.detail-btn:hover {
  background: #f8f8f8;
}